.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: var(--background-color); */
    padding: 0 2rem;
}

.menu__lista {
    display: flex;
    list-style: none;
    white-space: nowrap;
}

.menu__item:hover {
    text-decoration: underline var(--secondary-color);
}

.menu__link {
    color: var(--secondary-color);
    margin-right: 1.25rem;
    text-decoration: none;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

.menu__link.ativo {
    color: var(--tertiary-color);
    font-weight: bold;
}

.menu__link.ativo:hover {
    text-decoration: underline var(--tertiary-color);
}

@media screen and (max-width: 540px) {
    .cabecalho {
        justify-content: center;
        padding: 0 .5rem;
    }

    .logo {
        display: none;
    }
}